*{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(255, 187, 0);
    height: 70px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    margin-top: 15px;
}
main{
    padding-top: 40px;
}
.tabela{
    display: block;
}
thead{
    background-color: rgb(255, 187, 0);
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
thead th{
    padding-right: 220px;
}
td{
    border: 1px solid black;
    padding-right: 190px; 
}

#form{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 220px;
}
#form input{
    margin-top: 5px;
}
#btn-salvar{
    margin-left: 30px;
    margin-top: 5px;
}
